<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="chat app, Live chat, NodeJs, Socketio, room chat">
        <meta name="author" content="Abhishek Gupta">
        <title>
            Chat App 
        </title>
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>

        <div class="chat">

            <div id="sidebar" class="chat__sidebar"></div>

            <div class="chat__main">

                <div id="messages" class="chat__messages"></div> 

                <div class="notify-chat typing" style="display: none;" id="typing"></div>
                <div class="compose">
                    <form>
                        <input type="text" placeholder="Enter Message" name="message" id="message" autocomplete="off">
                        <button id='send'>Send</button>
                    </form>
                    <button id="share-location">Location</button>
                </div>
                
            </div>

        </div>

        <script id='template-message' type="text/html">

            {{^notification}}
                {{#me}}
                    <div class="message-left-content">
                {{/me}}
                {{^me}}
                    <div class="message-right-content">
                {{/me}}

                    <div class="message">
                        {{#message}}
                            <div class="message__detail">
                                <div>
                                        <img src="{{user_profile}}" style="width:75px; height:75px;" alt="User">
                                </div>
                                <div class="message__name">
                                    {{username}}
                                </div>
                                
                            </div>

                            <div class="message-content">
                                {{message}}
                            </div>

                            <div  class="message__meta">{{createdAt}}</div>
                        {{/message}}

                        {{#url}}
                        
                            <div class="message__detail">
                                <div>
                                    <img src="{{user_profile}}" style="width:75px; height:75px;" alt="User">
                                </div>
                                <div class="message__detail-user">
                                    <span class="message__name">{{username}}</span>
                                </div>
                                
                            </div>

                            <div class="message-content">
                                Check my current <a href="{{url}}" target="_blank"> Location</a>
                            </div>

                            <div class="message__meta">{{createdAt}}</div>

                        
                        {{/url}}
                        
                    </div>
                </div>
            {{/notification}}

            {{#notification}}
                <div class="notify-chat"> {{notification}} </div>
            {{/notification}}

        </script>

        <script id='sidebar-template' type="text/html">

            <h4 class='room-title'> {{roomname}}  </h4>

            <h3 class="list-title">Online Users</h3>
            <ul class="users">
                {{#users}}
                    <li>{{username}}</li>
                {{/users}}
            </ul>

        
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/request.js"></script>
        <script src="/assets/js/room-chat.js"></script>
    </body>
</html>